<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Three or Four.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92CE06471DA3265A00BFF4D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92CE065B1DA3265B00BFF4D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92CE06661DA3265B00BFF4D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
